extends base

block main
    main.blog
        each entry in entries
            article
                .published
                    span.month= entry.published.month
                    span.date= entry.published.date
                    span.year= entry.published.year
                h2 #{entry.title}
                .
                    !{entry.html}
        if pagination
            .pagination
                if pagination.previous
                    .previous
                        a(href='/blog/' + pagination.previous.url)
                            .label
                                span.arrow-left
                                | Previous
                            .title= pagination.previous.title
                if pagination.next
                    .next
                        a(href='/blog/' + pagination.next.url)
                            .label
                                | Next
                                span.arrow-right
                            .title= pagination.next.title
        if archive
            .archive
                each years in archive
                    h2= years.year
                    each entry in years.entries
                        .entry
                            a(href='/blog/' + entry.url) #{entry.title}
                            .published #{entry.published.month} #{entry.published.date} #{entry.published.year}