extends base

block main
    main.blog
        each entry in entries
            article
                .published
                    span.month= entry.published.month
                    span.date= entry.published.date
                    span.year= entry.published.year
                h2 #{entry.title}
                .
                    !{entry.html}
        if pagination
            .pagination
                if pagination.previous
                    .previous
                        a(href= pagination.previous.url)
                            .label
                                span.arrow-left
                                | Previous
                each page in pagination.pages
                    a(href=page.url, class=(page.number === pagination.currentPage ? 'active' : ''))= page.number
                if pagination.next
                    .next
                        a(href= pagination.next.url)
                            .label
                                | Next
                                span.arrow-right
        if singlePagination
            .single-pagination
                if singlePagination.previous
                    .previous
                        a(href= singlePagination.previous.url)
                            .label
                                span.arrow-left
                                | Previous
                            .title= singlePagination.previous.title
                if singlePagination.next
                    .next
                        a(href= singlePagination.next.url)
                            .label
                                | Next
                                span.arrow-right
                            .title= singlePagination.next.title
        if archive
            .archive
                each years in archive
                    h2= years.year
                    each entry in years.entries
                        .entry
                            a(href='/blog/' + entry.url) #{entry.title}
                            .published #{entry.published.month} #{entry.published.date} #{entry.published.year}