extends base

block content
    .blog
        each entry in entries
            article
                .date
                    span.month #{entry.published.monthName}
                    span.day #{entry.published.getDate()}
                    span.year #{entry.published.getFullYear()}
                h2 #{entry.title}
                .
                    !{entry.html}