extends base

block main
    main.side-projects
        each project in projects
            .project
                .content
                    .title
                        h2 #{project.name}
                        .status-container
                            if project.state === 2
                                .status.in-progress In Progress
                            else if project.state === 1
                                .status.complete Complete
                            else if project.state === 0
                                .status.inactive Inactive
                    .description #{project.description}
                .image
                    if project.image_url
                        a(href=project.homepage_url)
                            img(src=project.image_url, width='600', height='300')
                .links
                    if project.homepage_url || project.github_url
                        div
                            h3 Links
                            ul
                                if project.homepage_url
                                    li
                                        a(href=project.homepage_url) Homepage
                                if project.github_url
                                    li
                                        a(href=project.github_url) GitHub
                    if project.blogEntries
                        div
                            h3 Blog Entries
                            ul
                                each entry in project.blogEntries
                                    li
                                        a(href='/blog/' + entry.url) #{entry.title}